// Typography
$elc-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Width rules
$max-width: 1920px;

// Media queries
$landscape-up: 1024px;

// Colors
$color-black: #1A1A1A;

$color-grey:#999999
