*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.timer__container,
.count__container,
.stock_container{
  padding: 20px 0;
  font-size: 24px;
  text-align: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.timer__container button,
.count__container button,
.stock_container button{
  margin-right: 10px;
  padding: 5px 10px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
}